<!DOCTYPE html>
<html lang="en">

<head>
    <title>Prova</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Adicione aqui os links para os estilos CSS necessários -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/googlef2.css">
    <link rel="stylesheet" href="/css/gabarito.css">
    <%- include('../partials/quillandUIkit') %>


</head>

<body>
    <%- include('../partials/sidebar') %>
        <main>
            <% if (typeof errorMessage !=='undefined' && errorMessage.trim()) { %>
                <script>
                    window.onload = function () {
                        alert("<%= errorMessage %>");
                    };
                </script>
                <% } %>
                    <form id="questionario" class="form" action="/simulados/responder-prova/<%= simulado.id %>"
                        method="POST">
                        <div class="title-div">
                            <h1>
                                <%= simulado.tipo %>
                            </h1>
                        </div>

                        <% questoes.forEach((questao, index)=> { %>
                            <div class="name-div">
                                <div class="titulo">
                                    <p>
                                        <% 
                                            const titulo = typeof questao.titulo === "string" ? questao.titulo : "";
                                            const regex = /\(([^)]+)\)/; 
                                            const match = regex.exec(titulo); // Usa exec para buscar conteúdo
                                            const conteudo = match ? match[1] : "";
                                        %>
                                        <!-- Exiba valores extraídos no HTML para debugging -->
                                        Questão <%= (index+1) %> 
                                          (<%=conteudo %> -
                                         <%= questao.Area.area%>)
                                    </p>
                           
                                </div>
                         
                                  
                             
                                <div class="name" data-delta='<%= questao.pergunta %>'>
                                    <!-- O conteúdo será inserido via JavaScript -->
                                    <span class="required">*</span>
                                </div>
                                <% if (questao.tipo==="OBJETIVA" ) { %>

                                    <% const letras=['A', 'B' , 'C' , 'D' , 'E' ];
                                        const opcoesOrdenadas=letras.map(letra=>
                                        questao.Opcoes.find(opcao => opcao.alternativa.startsWith(letra))
                                        ).filter(opcao => opcao); // Filtra opções que não foram encontradas
                                        %>

                                        <% opcoesOrdenadas.forEach((opcao, index)=> { %>
                                            <div class="opcao">
                                                <label class="letra" for="opcao<%= opcao.id %>">
                                                    <%= opcao.alternativa %>
                                                </label>
                                                <input class="radio-input" type="radio" id="opcao<%= opcao.id %>"
                                                    name="questoes[<%= questao.id %>]"
                                                    value="<%= questao.id %>-<%= opcao.id %>">

                                                <div class="name" data-delta='<%= opcao.descricao %>'>
                                                    <span class="required">*</span>
                                                </div>
                                            </div>
                                            <% }) %>
                                                <% } else if (questao.tipo==="DISSERTATIVA" ) { %>
                                                    <textarea name="respostas[questao_<%= questao.id %>]"
                                                        placeholder="Sua resposta"></textarea>
                                                    <% } %>
                            </div>
                            <% }) %>

                                <div class="espaco">
                                    <button class="btn" type="submit">Enviar</button>
                                </div>
                    </form>
        </main>

        <!-- Adicione aqui os scripts JS necessários -->
        <script src="/js/main.js"></script>
        <script src="/js/quillContentHTML.js"></script>
        <script>
   
        </script>
</body>

</html>