<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== Bootstrap ==========-->
    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script> -->

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/revisao/css/revisao-card.css">
    


    <title><%= assunto.nome %> | Busca por Assunto - Módulo de Revisão de Conteúdo - IFVest</title>
</head>

<body>
    <main>
        <h1><%= assunto.nome %></h1>
        <h2><%= assunto.descricao %></h2>
        <div class="container">
            
            <div class="assunto-area">
                <h2>Assuntos</h2>
                <% listaAssuntos.forEach(assunto => { %>
                    <div class="revisao-card assunto-card">
                        <a href="/revisao/busca/<%= assunto.id_assunto %>"><%= assunto.nome %></a>
                    </div>
                <%})%>
            </div>
            <div class="material-area">
                <h2>Materiais</h2>
                <% listaMateriais.forEach(conteudo => { %>
                    <div class="revisao-card conteudo-card">
                        <a href="/revisao/busca/<%= conteudo.id_conteudo %>"><%= conteudo.nome %></a>
                    </div>
                <%})%>
            </div>
        </div>
    </main>

    <!--========== MAIN JS ==========-->
    <script src="/js/main.js"></script>
</body>
</html>