<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--========== CSS ==========-->
    <%- include('../partials/libs') %>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/simulados/css/simulado/criar_simulado.css">


        <title>Editar Simulado - IFVest</title>
</head>

<body>




    <% if (typeof errorMessage !=='undefined' && errorMessage.trim()) { %>
        <script>
            window.onload = function () {
                alert("<%= errorMessage %>");
            };
        </script>
        <% } %>
            <div class="form-container" id="formSection">
                <h1>Editar Simulado</h1>

                <form id="simuladoForm" action="/simulados/<%= simulado.id_simulado %>/editar?_method=PATCH"
                    method="POST">


                    <div class="form-group">
                        <div class="error-message" id="titulo-error"></div>
                        <label for="titulo">Título do Simulado:</label>
                        <input type="text" id="titulo" value="<%= simulado.titulo %>" name="titulo" required
                            maxlength="200" aria-label="Título do simulado">
                    </div>

                    <div class="form-group">

                        <div class="error-message" id="descricao-error"></div>
                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" name="descricao" rows="5" required
                            maxlength="1000" aria-label="Descrição do simulado"><%= simulado.descricao %></textarea>

                    </div>
                    <div class="form-group">
                        <label for="tipo">Selecione o tipo:</label>
                        <select name="tipo" id="tipo" required aria-label="Tipo do simulado">
                            <option value="DISSERTATIVO" <%=simulado.tipo==='DISSERTATIVO' ? 'selected' : '' %>
                                >Dissertativa</option>
                            <option value="OBJETIVO" <%=simulado.tipo==='OBJETIVO' ? 'selected' : '' %>>Objetiva
                            </option>
                            <option value="ALEATORIO" <%=simulado.tipo==='ALEATORIO' ? 'selected' : '' %>>Aleatoria
                            </option>
                        </select>
                        <div class="error-message" id="tipo-error"></div>
                    </div>


                    <button type="submit" id="submitButton">Salvar</button>

                </form>



            </div>


            <!--========== MAIN JS ==========-->
            <script src="/js/main.js"></script>
            <script src="/js/validations/validate.js"></script>
</body>

</html>