<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" id="MathJax-script" defer
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
        </script>
    <link rel="stylesheet" href="/css/editordropdown.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/editorPaginaEdiitar.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <style>
        
    </style>
</head>

<body>
    <%- include('../partials/sidebar') %>
        <div class="container">
            <h1 class="title">Criar Questão</h1>
            <form action="/professor/registrar-questao/<%= tipo %>" method="POST">
                <div class="titulo">
                    <label for="titulo">TITULO:</label>
                    <input type="text" id="titulo" name="titulo" placeholder="Exemplo: Questão 32 (Enem 2022) ">
                </div>
                <h4>Enunciado</h4>
                <button type="button" id="delta" style="display:none; " disabled>Show delta in console</button>
                <button type="button" id="editor-open-btn">Adicionar Equação</button>
                <%- include('../partials/editorEquacao') %>
                    <div id="editor-container"></div>
                    <%- include('../partials/editorEquacao') %>
                    <h4>Resposta</h4>
                        <% if ( tipo==="objetiva" ) { %>
                            <div id="respostas-container">
                                <span> Adicione o tipo de resposta e selecione apenas a(s) resposta(s)
                                    correta(s)</span>


                            </div>
                            <button type="button" onclick="addResposta()">Adicionar resposta</button>

                            <% } else { %>
                              
                                <textarea id="descricao" name="resposta" rows="5" cols="50" required> </textarea>
                                <% } %>
                                    <input type="hidden" id="respostasSelecionadas" name="respostasSelecionadas">
                                    <div>

                                        <h4>Area e Topicos</h4>
                                        <div>
                                            <label for="areaId">Selecione uma área:</label>
                                            <select name="areaId" id="areaId" required
                                                onchange="addItemsToDropdown(<%= JSON.stringify(Areas) %>)">
                                                <option value="">Selecione uma opção</option>
                                                <% Areas.forEach(area=> { %>
                                                    <option value="<%= area.id %>">
                                                        <%= area.area %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                        </div>

                                        <label for="topicos">Selecione topico(s):</label>
                                        <div class="dropdown" style="display: none;" id="topicosSearchContainer">
                                            <input type="text" id="search" placeholder="Pesquisar...">

                                            <ul id="dropdown-list" required>

                                                <!-- Adicione mais itens conforme necessário -->
                                            </ul>
                                        </div>

                                        <input type="hidden" id="pergunta" name="pergunta">


                                        <!-- Modal para usuario adicionar novos tópicos -->
                                        <a href="/professor/criar-topicos">Não encontrou o tópico que
                                            procura?
                                            Clique aqui para criar um novo tópico</a>
                                     
                                    </div>
                                    <div class="button-container">
                                        <button type="submit" class="botao-registro">Registrar</button>
                                    </div>
        </div>
   
        </form>
        <script src="/js/editor.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/dropdown.js"></script>
        <script src="/js/quill.js"></script>
        <script src="/js/editorInputs.js"></script>
        <script type="module" src="/js/index.js"></script>
</body>

</html>