<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="/css/editordropdown.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/criar_questao.css">

    <%- include('../partials/quillandUIkit') %>

</head>

<body>
    <div class="container">
        <!--   <div id="loading-container"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); display: flex; justify-content: center; align-items: center; z-index: 9999;">
        <div class="spinner"></div>
        Carregando...
    </div> -->


        <%- include('../partials/sidebar') %>

            <h1 class="title">Criar Questão</h1>
            <hr class="uk-divider-icon">
            <% if (typeof errorMessage !=='undefined' && errorMessage.trim()) { %>
                <script>
                    window.onload = function () {
                        alert("<%= errorMessage %>");
                    };
                </script>
                <% } %>
                    <form action="/professor/editar-questao?_method=PATCH" method="POST">
                        <input type="hidden" id="id" name="id" value="<%= questao.id %>">
                        <div class="titulo">
                            <label for="titulo">TITULO:</label>
                            <input type="text" id="titulo" name="titulo" value="<%= questao.titulo %>" required>
                        </div>


                        <h4>Enunciado</h4>

                        <button type="button" id="delta" style="display:none; " disabled>Show delta in console</button>
                        <button type="button" id="editor-open-btn"> Adicionar Equação</button>
                        <%- include('../partials/editorEquacao') %>
                            <div id="editor-container" style="height:150px;"></div>




                            <% if ( questao.tipo==="OBJETIVA" ) { %>
                                <%- include('../partials/resposta_containers') %>
                                    <% }else{ %>
                                        <%- include('../partials/quillInputDissertativa') %>
                                            <% } %>





                                                <textarea id="pergunta" name="pergunta" rows="5" cols="50"
                                                    style="display: none;"> </textarea>
                                                <textarea id="respostasSelecionadas" name="respostasSelecionadas"
                                                    rows="5" cols="50" style="display: none;"> </textarea>
                                                <div>
                                                    <br>
                                                    <div uk-grid>
                                                        <div>
                                                            <% if ( questao.tipo==="OBJETIVA" ) { %>
                                                                <label for="opcaoId">Selecione a opção correta:</label>
                                                                <select name="correta" id="correta">
                                                                    <option value="">Selecione uma opção</option>
                                                                    <option value="A">Opção 1</option>
                                                                    <option value="B">Opção 2</option>
                                                                    <option value="C">Opção 3</option>
                                                                    <option value="D">Opção 4</option>
                                                                    <option value="E">Opção 5</option>
                                                                </select>
                                                                <% } %>
                                                                    <div>
                                                                        <div>
                                                                            <label for="areaId">Selecione uma
                                                                                área:</label>
                                                                            <select name="areaId" id="areaId"
                                                                                onchange="addItemsToDropdown(<%= JSON.stringify(Areas) %>, <%= JSON.stringify(questao.Topicos) %>)">

                                                                                <% Areas.forEach(area=> { %>
                                                                                    <option value="<%= area.id %>"
                                                                                        <%=area.id===questao.areaId
                                                                                        ? 'selected' : '' %>

                                                                                        >
                                                                                        <%= area.area %>
                                                                                    </option>
                                                                                    <% }); %>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                        </div>

                                                        <label for="topicos">Selecione tópico(s):</label>
                                                        <div class="dropdown" id="topicosSearchContainer">
                                                            <input type="text" id="search" placeholder="Pesquisar...">
                                                            <ul id="dropdown-list">
                                                                <% questao.Topicos.forEach(topic=> { %>
                                                                    <li>
                                                                        <input type="checkbox"
                                                                            name="topicosSelecionados[]"
                                                                            value="<%= topic.id %>" checked>
                                                                        <label for="topico-<%= topic.id %>">
                                                                            <%= topic.materia %>
                                                                        </label>
                                                                    </li>
                                                                    <% }); %>
                                                            </ul>
                                                        </div>



                                                        <!-- Modal para usuario adicionar novos tópicos -->


                                                        <a href="#" onclick="showCreateTopicModal()"
                                                            id="create-topic-link">Não
                                                            encontrou o tópico que procura? Clique aqui para criar um
                                                            novo tópico</a>
                                                    </div>
                                                </div>

                                                <div class="button-container">
                                                    <button type="submit" class="botao-registro">Registrar</button>
                                                </div>
    </div>

    </form>
    </div>
    </div>

    <script src="/js/quillObjetiva.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const editors = [];
        const opcoesIds = [];
        const tipo = <%- JSON.stringify(questao.tipo) %>;

        const parsedContent = <%- JSON.stringify(questao.pergunta) %>;
        const parsedOpcoes = <%- JSON.stringify(Opcoes) %>;
        const deltaContent = JSON.parse(parsedContent);

        const EDITOR_IDS_OBJETIVA = ['#opcaoA', '#opcaoB', '#opcaoC', '#opcaoD', '#opcaoE'];

        const quill = initializeQuill('#editor-container');
            quill.setContents(deltaContent)

            editors.push(quill);
            const editorIds = (tipo === 'OBJETIVA') ? ['A', 'B', 'C', 'D', 'E'] : ['A'];
            editorIds.forEach(id => {
                // Encontre a opção correspondente em parsedOpcoes
                const opcao = parsedOpcoes.find(op => op.alternativa === id);

                // Verifique se a opção foi encontrada
                const editorInstance = initializeQuill(`#opcao${id}`);
                if (opcao) {

                    editorInstance.setContents(JSON.parse(opcao.descricao))
                    editors.push({ [`#opcao${id}`]: editorInstance });
                    opcoesIds.push({ [`#opcao${id}`]: opcao.id });
                    // Adicione tanto a instância quanto o ID
                } else {
                    console.warn(`Opção não encontrada para o ID: ${id}`);
                }
            });

        function acessarEditorPorId(editorId) {
            const editor = editors.find(editor => editor[editorId]);
            return editor ? editor[editorId] : null; // Retorna a instância do editor ou null se não encontrado
        }


        // Função para recuperar o conteúdo de todos os editores
        function getAllContent() {
            const contents = {};
            EDITOR_IDS_OBJETIVA.forEach(id => {
                const opcaoId = opcoesIds.find((opcao => opcao[id]))
                console.log(opcaoId[id])
                const editorInstance = acessarEditorPorId(id);
                // Acessa o editor pelo ID
                if (editorInstance) {
                    const tamanho = editorInstance.getLength();

                    if (tamanho > 1) {
                        contents[id] = { content: editorInstance.getContents(), id: opcaoId[id] } // Armazena o conteúdo no objeto com o ID como chave
                    }
                }
            });

            // Verifica se o objeto contents está vazio e lança um erro se estiver

            return contents;
        }

        // Testar a função de mostrar o conteúdo
        function showContent() {
            const editorInstance = getEditorById('#editor-container');
            if (editorInstance) {
                console.log(editorInstance.root.innerHTML);  // Exibe o conteúdo no console
            } else {
                console.log("Editor não encontrado");
            }
        }

        function sendEditorContent() {
            const data = getAllContent()      
            const length = quill.getLength();
            const pergunta = length > 1 ? quill.getContents() : alert("A pergunta não pode estar vazia.");
        
            document.getElementById('respostasSelecionadas').value = JSON.stringify(data);
            const respostas = document.getElementById('respostasSelecionadas')
            console.log(respostas)
            document.getElementById('pergunta').value = JSON.stringify(pergunta);
        }

        document.querySelector('.botao-registro').addEventListener('click', sendEditorContent);

        })

     



    </script>
    <!--========== MAIN JS ==========-->
    <script src="/js/dropdownEditar.js"></script>
    <script src="/js/editarQuestao.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/editor.js"></script>
    <script src="/js/jscolor.min.js"></script>
    <script type="module" src="/js/index.js"></script>

</body>

</html>