<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <%- include('../partials/quillandUIkit') %>
    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/topicTable.css">
    <title>Meus Topicos</title>
    <link rel="stylesheet" href="/css/minhasquestoes.css">
    <link rel="stylesheet" href="/css/meus_topicos.css">
</head>



<body>
    <%- include('../partials/sidebar') %>
        <!--========== CONTENTS ==========-->
        <main>
          <% if (typeof errorMessage !== 'undefined' && errorMessage.trim()) { %>
            <script>
                window.onload = function() {
                    alert("<%= errorMessage %>");
                };
            </script>
        <% } %>
        <h1 class="uk-heading-divider">Tópicos</h1>
        <form action="/professor/topicos" method="GET" class="mb-4">
            <label for="titulo" class="mr-2">Buscar:</label>
            <input type="text" id="materia" name="materia" required class="py-2">
            <button type="submit"><i class='bx bx-search'></i>Pesquisar</button>
        </form>

       
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% topicos.forEach(topico => { %>
                        <tr>
                            <td>
                                <span class="material-span "id="span<%= topico.id %>"><%= topico.materia %></span>
                                <form class="hide" id="editForm<%= topico.id %>" action="/professor/editar-topico" method="POST">
                                    <input class="py-2 border border-black" type="text" name="materia" value="<%= topico.materia %>" >
                                    <input type="hidden" name="id" value="<%= topico.id %>" >
                                    <button type="submit" id="saveButton" class=" btn ">Salvar</button>
                                    <button type="button" id="cancelButton" class=" btn " onclick="ocultarForm(<%= topico.id %>)">Cancelar</button>
                                </form>
                                
                               
                            </td>
                            <td>
                              <a class="btn" data-id="<%= topico.id %>" onclick="exibirForm(<%= topico.id %>)"><i class="fas fa-edit"></i> Editar</a>
                            </td>
                        </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <!-- Antes do fechamento do </main> -->
            <nav aria-label="Navegação">
                <ul class="pagination">
                    <% if (page> 1) { %>
                        <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                        <li class="page-item"><a class="page-link" href="?page=<%= page - 1 %>">Anterior</a></li>
                        <% } %>
                            <% for(let i=1; i <=totalPages; i++) { %>
                                <li class="page-item <%= page == i? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                </li>
                                <% } %>
                                    <% if (page < totalPages) { %>
                                        <li class="page-item"><a class="page-link"
                                                href="?page=<%= page + 1 %>">Próxima</a></li>
                                        <li class="page-item"><a class="page-link"
                                                href="?page=<%= totalPages %>">Última</a></li>
                                        <% } %>
                </ul>
            </nav>
            <script>
                function exibirForm(id){
                    // Oculta o span com o título do tópico
                    const titleSpan = document.getElementById(`span${id}`);
                    titleSpan.style.display = 'none';
    
                    // Mostra o formulário
                    const form = document.getElementById(`editForm${id}`);
                    form.classList.remove('hide');
    
                    // Oculta o botão de editar
                    const editButton = document.querySelector(`#editForm${id} ~ button.editBtn`);
                    editButton.style.display = 'none';
                }
    
                function ocultarForm(id){
                    // Mostra o span com o título do tópico
                    const titleSpan = document.getElementById(`span${id}`);
                    titleSpan.style.display = '';
    
                    // Oculta o formulário
                    const form = document.getElementById(`editForm${id}`);
                    form.classList.add('hide');
    
                    // Exibe o botão de editar
                    const editButton = document.querySelector(`#editForm${id} ~ button.editBtn`);
                    editButton.style.display = '';
                }
            </script>
                

            <a href="/usuario/inicioLogado">Voltar para home</a>
            <link rel="stylesheet" href="/css/styles.css">
        </main>
       
        <!--========== MAIN JS ==========-->
        <script src="/js/main.js"></script>
</body>

</html>