<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    
    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/topicTable.css">
    <title>Responsive sidebar submenus</title>
    <link rel="stylesheet" href="/css/minhasquestoes.css">
</head>
    <style>
        /* Text */
.text-2xl {
  font-size: 1.25rem;
}
.font-bold {
  font-weight: bold;
}

/* Spacing */
.mb-4 {
  margin-bottom: 1rem;
}

/* Background */
.bg-white {
  background-color: white;
}

/* Hover effect */
.bg-white:hover {
  background-color: white;
}

/* Color */
.text-black {
  color: black;
}

/* Padding */
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Border */
.border {
  border-width: 1px;
}
.border-black {
  border-color: black;
}

/* Rounded corners */
.rounded {
  border-radius: 0.25rem;
}

/* Cursor style */
.cursor-pointer {
  cursor: pointer;
}

/* Material span */
.material-span {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
}

/* Hide element */
.hide {
  display: none !important;
}

/* Button styles */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* Pagination styles */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.page-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1rem;
  padding: 0.5rem 0.75rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 9999px;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 9999px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    </style>


<body>
    <%- include('../partials/sidebar') %>
        <!--========== CONTENTS ==========-->
        <main>
          <% if (typeof errorMessage !== 'undefined' && errorMessage.trim()) { %>
            <script>
                window.onload = function() {
                    alert("<%= errorMessage %>");
                };
            </script>
        <% } %>
        <h1 class="uk-heading-divider">Tópicos</h1>
        <form action="/professor/topicos" method="GET" class="mb-4">
            <label for="titulo" class="mr-2">Buscar:</label>
            <input type="text" id="materia" name="materia" required class="py-2">
            <button type="submit"><i class='bx bx-search'></i>Pesquisar</button>
        </form>

       
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% topicos.forEach(topico => { %>
                        <tr>
                            <td>
                                <span class="material-span "id="span<%= topico.id %>"><%= topico.materia %></span>
                                <form class="hide" id="editForm<%= topico.id %>" action="/professor/editar-topico" method="POST">
                                    <input class="py-2 border border-black" type="text" name="materia" value="<%= topico.materia %>" >
                                    <input type="hidden" name="id" value="<%= topico.id %>" >
                                    <button type="submit" id="saveButton" class=" btn ">Salvar</button>
                                    <button type="button" id="cancelButton" class=" btn " onclick="ocultarForm(<%= topico.id %>)">Cancelar</button>
                                </form>
                                
                               
                            </td>
                            <td>
                              <a class="btn" data-id="<%= topico.id %>" onclick="exibirForm(<%= topico.id %>)"><i class="fas fa-edit"></i> Editar</a>
                            </td>
                        </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <!-- Antes do fechamento do </main> -->
            <nav aria-label="Navegação">
                <ul class="pagination">
                    <% if (page> 1) { %>
                        <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                        <li class="page-item"><a class="page-link" href="?page=<%= page - 1 %>">Anterior</a></li>
                        <% } %>
                            <% for(let i=1; i <=totalPages; i++) { %>
                                <li class="page-item <%= page == i? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                </li>
                                <% } %>
                                    <% if (page < totalPages) { %>
                                        <li class="page-item"><a class="page-link"
                                                href="?page=<%= page + 1 %>">Próxima</a></li>
                                        <li class="page-item"><a class="page-link"
                                                href="?page=<%= totalPages %>">Última</a></li>
                                        <% } %>
                </ul>
            </nav>
            <script>
                function exibirForm(id){
                    // Oculta o span com o título do tópico
                    const titleSpan = document.getElementById(`span${id}`);
                    titleSpan.style.display = 'none';
    
                    // Mostra o formulário
                    const form = document.getElementById(`editForm${id}`);
                    form.classList.remove('hide');
    
                    // Oculta o botão de editar
                    const editButton = document.querySelector(`#editForm${id} ~ button.editBtn`);
                    editButton.style.display = 'none';
                }
    
                function ocultarForm(id){
                    // Mostra o span com o título do tópico
                    const titleSpan = document.getElementById(`span${id}`);
                    titleSpan.style.display = '';
    
                    // Oculta o formulário
                    const form = document.getElementById(`editForm${id}`);
                    form.classList.add('hide');
    
                    // Exibe o botão de editar
                    const editButton = document.querySelector(`#editForm${id} ~ button.editBtn`);
                    editButton.style.display = '';
                }
            </script>
                

            <a href="/usuario/inicioLogado">Voltar para home</a>
            <link rel="stylesheet" href="/css/styles.css">
        </main>
       
        <!--========== MAIN JS ==========-->
        <script src="/js/main.js"></script>
</body>

</html>