<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/zod@3.23.8/lib/index.umd.min.js"></script>

    <link rel="stylesheet" href="/simulados/css/professor/editor_equacao.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <link rel="stylesheet" href="/css/professor/questao.css">
<link rel="stylesheet" href="/simulados/css/professor/editor.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <%- include('../partials/libs') %>
        <title>Criar questão - IFVest</title>


</head>

<body>
    

        <main>
            <h1 style="text-align: center;">Criar Questão</h1>

        </div>
            <p style="display: none;"></p>

            <div class="form-container">
               

                <form id="questaoForm" action="/professor/registrar-questao/<%= tipo %>" method="POST"> <!-- Título -->
                                        <div class="button-container">
            <a href="/simulados" class="btn btn-voltar btn-lg">
                <i class="bi bi-arrow-left"></i> Voltar ao Menu Simulados
            </a></div>
                    <div class="form-group">
                        <label for="titulo">Título da Questão</label>
                        <input type="text" class="form-control" id="titulo"
                            placeholder="Ex: Calculo Diferencial Enem 2023" required>
                    </div>


                    <!-- Seletores de Área e Tópico -->
                    <div class="d-flex gap-1">
                        <div class="form-group col-md-6">
                            <label for="selectArea">Área</label>
                            <select id="selectArea" class="form-control" required>
                                <option value="">Selecione uma opção
                                </option>
                                    <% Areas.forEach(area=> { %>
                                            <option value="<%= area.id_area %>">
                                                <%= area.nome %>
                                            </option>
                                            <% }); %>
                            </select>
                        </div>

                        <!-- solução temporaria sera substituido por assunto-->
                        <div class="form-group col-md-6">
                            <label for="selectTopico">Tópico</label>
                            <select id="selectTopico" class="form-control" multiple required>


                            </select>
                        </div>



                    </div>




                  

                    <%- include('../partials/editor_equacao') %>

                        <% if ( tipo==="objetiva" ) { %>
                            <div class="form-group ">
                                <%- include('../partials/resposta_objetiva') %>
                            </div>


                            <div class="form-group ">
                               
                                <label for="opcaoId">Selecione a opção correta:</label>
                                <select name="correta" id="correta" required>
                                    <option value="">Selecione uma opção</option>
                                    <option value="A">Opção A</option>
                                    <option value="B">Opção B</option>
                                    <option value="C">Opção C</option>
                                    <option value="D">Opção D</option>
                                    <option value="E">Opção E</option>
                                </select>
                            </div>
                            <% }else{ %>
                                <%- include('../partials/resposta_dissertativa') %>
                                    <% } %>

                                        
                                    <!-- não esta 100% funcional falta atualizar os topicos da pagina-->
                                        <div class="form-group">
                                            <a href="#" onclick="showCreateTopicModal()" id="create-topic-link">Não
                                                encontrou o tópico que procura? Clique aqui para criar um
                                                novo tópico</a>
                                        </div>

                                        <button id="submitButton" type="button"
                                            class="btn btn-primary w-100">Registrar</button>

                </form>
            </div>
        </main>



       
        <%- include('../partials/modal_topicos') %>

            <script src="/simulados/js/professor/initializeQuill.js"></script>
            <script src="/simulados/js/professor/editor.js"></script>
            <script src="/simulados/js/main.js"></script>
            <script src="/simulados/js/professor/dropdown.js"></script>
            <!-- <script src="/js/professor/editorInputs.js"></script> -->

            <script type="module" src="/simulados/js/editor_equacao/index.js"></script>
            <script src="/simulados/js/professor/criarQuestao.js"></script>


            <script>
                const questionType = <%- JSON.stringify(tipo) %>;
                const Topicos = <%- JSON.stringify(topicos || []) %>;
                initializeQuestionEditors(questionType);

                const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
                const appendAlert = (message, type) => {
                    const wrapper = document.createElement('div');
                    wrapper.innerHTML = [
                        `<div class="alert alert-${type} alert-dismissible fade show" role="alert">`,
                        `   <div>${message}</div>`,
                        '    <button type="button" class="close" data-dismiss="alert" aria-label="Close">',
                        '<span aria-hidden="true">&times;</span>',
                        '</button>',
                        '</div>'
                    ].join('');

                    alertPlaceholder.append(wrapper);
                };


            </script>








</body>

</html>