
<!DOCTYPE html>
<html lang="pt-br">
<head>
 
  <link rel="stylesheet" href="/simulados/css/professor/editordropdown.css">
  <link rel="stylesheet" href="/simulados/css/professor/editor_equacao.css">
  <link rel="stylesheet" href="/simulados/css/global.css">
  <link rel="stylesheet" href="/simulados/css/professor/questao.css">

  <%- include('../partials/quill_and_uikit') %>

  <title>Criar questão - IFVest</title>
</head>

<body>

  <div class="overlay" id="overlay"></div>

  <div class="container">
   
    <div id="loading-container"
         style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;
                background-color: rgba(255, 255, 255, 0.8);
                display: flex; justify-content: center; align-items: center;
                z-index: 9999;">
      <div class="spinner"></div>
      Carregando...
    </div>

    <h1 class="title">Criar Questão</h1>
    <hr class="uk-divider-icon">

  
    <% if (typeof errorMessage !== 'undefined' && errorMessage.trim()) { %>
      <script>
        window.onload = function () {
          alert("<%= errorMessage %>");
        };
      </script>
    <% } %>

    <form action="/simulados/registrar-questao/<%= tipo %>" method="POST">
      
    
      <div class="titulo">
        <label for="titulo">TÍTULO:</label>
        <input type="text"
               id="titulo"
               name="titulo"
               placeholder="Exemplo: Questão 32 (Enem 2022)"
               required
               maxlength="100">
      </div>

      <%- include('../partials/editor_equacao') %>

    
      <% if (tipo === "objetiva") { %>
        <%- include('../partials/resposta_objetiva') %>
      <% } else { %>
        <%- include('../partials/resposta_dissertativa') %>
      <% } %>

    
      <textarea id="pergunta" name="pergunta" style="display:none;"></textarea>
      <textarea id="respostasSelecionadas" name="respostasSelecionadas" style="display:none;"></textarea>
      <textarea id="respostas" name="respota" style="display:none;"></textarea>

      
      <div>
        <br>

        <div uk-grid>
          
          <div>
            <% if (tipo === "objetiva") { %>
              <label for="opcaoId">Selecione a opção correta:</label>
              <select name="correta" id="correta" required>
                <option value="">Selecione uma opção</option>
                <option value="A">Opção A</option>
                <option value="B">Opção B</option>
                <option value="C">Opção C</option>
                <option value="D">Opção D</option>
                <option value="E">Opção E</option>
              </select>
            <% } %>

            
            <div>
              <h4>Área e Tópicos</h4>
              <label for="areaId">Selecione uma área:</label>
              <select name="areaId" id="areaId" required>
                <option value="">Selecione uma opção</option>
                <% Areas.forEach(area => { %>
                  <option value="<%= area.id_area %>"><%= area.nome %></option>
                <% }); %>
              </select>
            </div>
          </div>

          
          <label for="topicos">Selecione tópico(s):</label>
          <div class="dropdown" id="topicosSearchContainer" style="display:none;">
            <input type="text" id="search" placeholder="Pesquisar..." maxlength="100">
            <ul id="dropdown-list" required></ul>
          </div>
          <a href="#" id="create-topic-link" onclick="showCreateTopicModal()">
            Não encontrou o tópico que procura? Clique aqui para criar um novo tópico
          </a>
        </div>
      </div>

      <!-- Botão de envio -->
      <div class="button-container">
        <button type="submit" class="botao-registro">Registrar</button>
      </div>
    </form>
  </div>

  
  <%- include('../partials/modal_topicos') %>

  <!-- Scripts -->
  <script src="/simulados/js/professor/initializeQuill.js"></script>
  <script src="/simulados/js/professor/editor.js"></script>
  <script src="/simulados/js/main.js"></script>
  <script src="/simulados/js/professor/dropdown.js"></script>
  <script src="/simulados/js/professor/editorInputs.js"></script>
  <script type="module" src="/simulados/js/index.js"></script>
  <script src="/simulados/js/professor/criarQuestao.js"></script>

  
  <script>
    initializeQuestionEditors(<%- JSON.stringify(tipo) %>);
  </script>
</body>
</html>
