<!DOCTYPE html>
<html>

<head>

    <script src="https://cdn.jsdelivr.net/npm/zod@3.23.8/lib/index.umd.min.js"></script>

    <link rel="stylesheet" href="/simulados/css/professor/editor_equacao.css">
    <link rel="stylesheet" href="/simulados/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

   <link rel="stylesheet" href="/simulados/css/professor/editor.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/simulados/css/professor/questao.css">

    <%- include('../partials/libs') %>
        <title>Editar questão - IFVest</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    
        <main>
            <h1 style="text-align: center;">Editar Questão</h1>
            <p style="display: none;"></p>


            <% if (typeof errorMessage !=='undefined' && errorMessage.trim()) { %>
                <script>
                    window.onload = function () {
                        alert("<%= errorMessage %>");
                    };
                </script>
                <% } %>

                    <div class="form-container">
                        <div id="liveAlertPlaceholder"></div>

                        <form id="questaoForm">
                            <input type="hidden" id="id" name="id" value="<%= questao.id_questao %>">
                            <div class="form-group">
                                <label for="titulo">Título da Questão:</label>
                                <input type="text" id="titulo" name="titulo" value="<%= questao.titulo %>" required>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="selectArea">Área</label>
                                    <select id="selectArea" class="form-control" required>


                                        <% Areas.forEach(area=> { %>
                                            <option value="<%= area.id_area %>" <%=area.id_area===questao.id_area
                                                ? 'selected' : '' %>>
                                                <%= area.nome %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>

                                <!-- solução temporaria sera substituido por assunto-->
                                <div class="form-group col-md-6">
                                    <label for="selectTopico">Tópico</label>
                                    <select id="selectTopico" class="form-control" multiple required>


                                    </select>
                                </div>



                            </div>
                            <%- include('../partials/editor_equacao') %>

                                <% if ( tipo==="OBJETIVA" ) { %>
                                    <div class="form-group ">
                                        <%- include('../partials/resposta_objetiva') %>
                                    </div>
                                    <div class="form-group ">
                                        <!-- Palavras-chave -->
                                        <label for="opcaoId">Selecione a opção correta:</label>
                                        <select name="correta" id="correta" required>
                                            <% Opcoes.forEach(opcao=> { %>
                                                <option value="<%= opcao.alternativa %>" <%=opcao.correta ? 'selected'
                                                    : '' %>

                                                    >
                                                    Opção <%= opcao.alternativa %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <% }else{ %>
                                        <%- include('../partials/resposta_dissertativa') %>
                                            <% } %>

                                                <div class="form-group">
                                                    <a href="#" onclick="showCreateTopicModal()"
                                                        id="create-topic-link">Não
                                                        encontrou o tópico que procura? Clique aqui para criar um
                                                        novo tópico</a>
                                                </div>

                                                <button id="submitButton" type="button"
                                                    class="btn btn-primary w-100">Registrar</button>

                        </form>
                    </div>
        </main>
        <%- include('../partials/modal_topicos') %>
            <script src="/simulados/js/professor/initializeQuill.js"></script>
            <script src="/simulados/js/professor/dropdownEditar.js"></script>
            <script src="/simulados/js/professor/editarQuestao.js"></script>
            <script src="/js/main.js"></script>
            <script src="/simulados/js/professor/editor.js"></script>
            <script type="module" src="/simulados/js/editor_equacao/index.js"></script>

            <script>

                const questionType = <%- JSON.stringify(questao.tipo) %>

                    initializeEditQuestionEditors(
                                    <%- JSON.stringify(questao) %>,
                                    <%- JSON.stringify(Opcoes) %>
                            );

                const Topicos = <%- JSON.stringify(topicos) %>;

                const meusTopicos = <%- JSON.stringify(questao.Topico) %>;



                document.addEventListener('DOMContentLoaded', function () {
                    const area = document.getElementById('selectArea').value;
                    loadTopicDropdown(area);
                });

                                const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
                const appendAlert = (message, type) => {
                    const wrapper = document.createElement('div');
                    wrapper.innerHTML = [
                        `<div class="alert alert-${type} alert-dismissible fade show" role="alert">`,
                        `   <div>${message}</div>`,
                        '    <button type="button" class="close" data-dismiss="alert" aria-label="Close">',
                        '<span aria-hidden="true">&times;</span>',
                        '</button>',
                        '</div>'
                    ].join('');

                    alertPlaceholder.append(wrapper);
                };
            </script>

</body>

</html>